body{
    text-align: center;
    background-color: beige;


}
.Container{
    display: grid;
    grid-template-areas: "header header "
                        "menu_lateral principal "
                         "footer footer";
    gap: 10%;
                       
}

.header{
    grid-area: header;
    

}
.menu_lateral{
    display: flex;
    grid-area: menu_lateral;
    flex-direction: column;
    border: 1px solid red;
    text-align: center;
    width: 150%;
    
}

.principal{
    display: grid;
    grid-area: principal;
    grid-template-columns: auto auto auto;
    gap: 10%;
}

.footer{
    grid-area: footer;
    border: 1px solid #111184;
   background-color: white;
   color: gray;
}

.Container{
    display: grid;
    grid-template-areas: "header header header header"
                        "menu_lateral principal principal principal"
                         "footer footer footer footer";
                      
}

.principal img{
    width: 300px;
    height: 300px;


}

button{
    width: 150px;
    background-color: #111184;
    color: white;
}